<script src="https://unpkg.com/vue@3"></script>
<!-- 
    * v-if      더 높은 토글비용
                조건을 만족하면 객체 생성
     --------------------------------------
    * v-show    더 높은 랜더링비용
                초기에 객체 생성 후, 조건 만족하면 보여주기
 -->
<div id="app">
    <div>{{ counter }}</div>
    <div v-if="counter > 0">
        <div v-if="counter % 5 == 0">
            5의 배수
        </div>
        <div v-else-if="isEven">
            짝수
        </div>
        <div v-else>
            홀수
        </div>
    </div>
    <button @click="addCount">Count</button>
</div>

<script>
    var app = Vue.createApp({
        data() {
            return {
                counter: 0,
                isEven: false
            }
        },
        methods:{
            addCount(){
                this.counter++;
                this.isEven = (this.counter % 2 == 0);
            }
        }
    }).mount('#app')
</script>

<style>
    #app{
        width : 100%;
        text-align: center;
        border:1px solid black;
    }
</style>